@media (min-width: 668px) and (max-width: 1024px) {
  .landing-line {
    width: 320px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  a.logo-text,
  a.logo-text:active,
  a.logo-text:focus,
  a.logo-text:hover {
    top: 16px;
    font-size: 56px;
    top: 18px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .slogan-text {
    font-size: 28px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .btn-custom-facebook,
  .btn-custom-facebook:active,
  .btn-custom-facebook:focus,
  .btn-custom-facebook:hover,
  .btn-custom-email,
  .btn-custom-email:active,
  .btn-custom-email:focus,
  .btn-custom-email:hover {
    position: relative;
    right: 5px;
  }
  .how-it-works {
    opacity: 0;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .how-it-works-bottom {
    opacity: 1;
    position: relative;
    font-family: 'brandon_grotesquethin';
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    color: #1485CC;
    top: 30px;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
  }
  .landing-btn-container {
    top: 10px;
  }
}
