<div ng-show='isLoaded' id="dashboard-table" class="container">
  <div class="row">
    <table st-table="table" class="table table-striped">
      <thead>
        <tr>
          <th>room name</th>
          <th>created by</th>
          <th>members</th>
          <th>status</th>
          <th>options</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="obj in table">
          <td class='table-copy-title'>{{ obj.name }}</td>
          <td class='table-copy-created-by'>{{ obj.createdBy }} </td>
          <td>
            <button class="btn btn-md members" popover-placement="top" popover="{{obj.members}}" type="button">
              <i class="fa fa-child">&nbsp;&nbsp;members</i>
            </button>
          </td>
          <td ng-class='{ "connect-option" : ( dashCtrl.getReadyState(obj) ) }' class='table-copy-status'>
            {{ obj.status }}
          </td>
          <td>
            <button ng-if="(obj.options === 'connect')" ng-click='dashCtrl.onRowSelected(obj);' id='connect' name='connect' class="btn btn-md members" type="button">
              <i class="fa fa-refresh fa-spin"></i> &nbsp;&nbsp;{{ obj.options }}
            </button>
            <button ng-if="(obj.options === 'details')" popover-placement="top" popover="{{obj.details}}" id='details' name='details' class="btn btn-md members" type="button">
              <i class="fa fa-tag"></i>&nbsp;&nbsp;{{ obj.options }}
            </button>
            <button ng-if="(obj.options === 'video url')" popover-placement="top" popover="{{obj.details}}" id='details' name='details' class="btn btn-md members" type="button">
              <i class="fa fa-video-camera"></i>&nbsp;&nbsp;{{ obj.options }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
