<div ng-controller='FooterCtrl as footerCtrl'>
  <div ng-show='showFooter' id='footer-overlay'></div>
  <div ng-show='showFooter' ng-init='footerCtrl.registerEvents();' id='footer-btn-container' class="navbar navbar-default navbar-fixed-bottom text-center">
    <ul ng-hide='showFeatureDisabled || isRecording || showGeneratingVideo' id="footer-btns">
      <li>
        <div id='share-file' ng-click='footerCtrl.onOptSelected("location")' class="btn-custom share-file">share location</div>
      </li>
      <li>
        <div id='share-file' ng-click='footerCtrl.onOptSelected("upload")' class="btn-custom share-file">share a file</div>
      </li>
      <li>
        <div id='record' ng-click='footerCtrl.onOptSelected("record")' class="btn-custom record-session">record session</div>
      </li>
      <li>
        <div id='disconnect' ng-click='footerCtrl.onOptSelected("disconnect")' class="btn-custom disconnect">disconnect</div>
      </li>
    </ul>
    <ul ng-show='showFeatureDisabled'>
      <li>Feature Disabled Until Your Party Connects</li>
    </ul>
    <ul ng-show='isRecording' class='is-recording-container'>
      <li>
        <p> Recording In Progress </p>
        <span>
        <button ng-click='footerCtrl.onOptSelected("stop")' class='stop-recording'>stop</button>
        </span>
      </li>
    </ul>
    <ul ng-show='showGeneratingVideo'>
      <p>Generating Video Link</p>
    </ul>
  </div>
</div>
