<div class='login-container' class='auth-container'>
  <form ng-hide='showForgotPassword' id="loginForm" name="authForm" class="form-inline" ng-submit="landingCtrl.validateLogin();">
    <input id="login-input" class="input-small" ng-model="user.email" name="email" type="text" placeholder="Email">
    <input id="login-input" class="input-small" ng-model="user.password" type="password" name="password" placeholder="Password">
    <button type="submit" class="btn btn-custom-login">Login</button>
    <br>
    <div class='login-subtext-container'>
      <p id='need-account' ng-click="landingCtrl.onOptSelected('register');">need an account?</p>
      <p id='forgot-password' ng-click="landingCtrl.onOptSelected('forgotPassword');"> forgot password?</p>
      <p id='remember-me'> remember me
        <input ng-model="user.rememberMe" type="checkbox">
      </p>
    </div>
  </form>
  <div ng-show="showForgotPassword">
    <p class='forgot-password-copy'>please enter your registered email to recover your password</p>
    <div ng-show='resetMessage'>
      <p class='reset-message'>{{ resetMessage }}</p>
      <button title="reset-success" class="btn btn-custom-login" ng-click="landingCtrl.reset(null);">OK</button>
    </div>
    <form ng-hide='resetMessage' id="forgotPassword" name="authForm" class="form-inline">
      <input id='reset-password-input' class="input-small" ng-model="user.email" name="email" type="text" placeholder="Email">
      <button title="cancel" class="btn btn-custom-login" ng-click="landingCtrl.onForgotPassword(true);">Cancel</button>
      <button type="submit" class="btn btn-custom-login" ng-click="landingCtrl.onForgotPassword(null);">Submit</button>
    </form>
  </div >
  <div ng-show='showErr' class='login-btn-container'>
    <p class='landing-err-message'>{{ errMessage }}</p>
  </div>
</div>
