<div ng-hide='hideNavBar' ng-class="{'add-opacity': ( showNavBar )}" ng-controller='NavBarCtrl as navBarCtrl' ng-init='navBarCtrl.registerEvents();' class="navbar-container">

  <div class="navbar-center">
    <p class="navbar-logo">room baby</p>
  </div>
  <div class="navbar-right">
    <button ng-hide='!showLogout' ng-click="navBarCtrl.logout();"  type="submit" class="btn btn-custom-logout">
      <p>Logout</p>
      </button>
    <p ng-hide='showLogout' class='navbar-welcome'>Welcome {{ navBarCtrl.getUserName() | capitalize }}!</p>
    <div  ng-click='navBarCtrl.toggleLogout()' class="profile-img" ng-style="{'background-image': 'url(' + navBarCtrl.getProfileImg() + ')'}"></div>
  </div> 
</div>
