<div class='register-container' ng-hide='showLoadingSpinner'>
  <form class='register-form' class="form-inline" ng-submit="landingCtrl.validateRegistration();">
    <input id="register-input" class="input-small" ng-model="user.username" name="username" type="text" placeholder="username">
    <input id="register-input" class="input-small" ng-model="user.email" name="email" type="text" placeholder="email">
    <input id="register-input" class="input-small" ng-model="user.password" name="password" type="password" placeholder="password">
  <button ng-hide='showErr' type="submit" class="btn btn-custom-login register">
    <p>Register</p>
  </button>
  </form>

  <div ng-show='showErr'>
    <div class='tooltip-container register'>
      <div class='tooltip-content'>
        <p>{{ errMessage }}</p>
      </div>
    </div>
  </div>
  <p ng-click="landingCtrl.onOptSelected('login');" class='have-account'>have an account?</p>
</div>
