i.glyphicon.glyphicon-arrow-left {
  opacity: 1;
  position: absolute;
  top: 19px;
  bottom: 0;
  left: 51px;
  margin: auto;
}

i.glyphicon.glyphicon-arrow-right {
  opacity: 1;
  display: inline;
  position: absolute;
  top: 19px;
  bottom: 0;
  right: 51px;
  margin: auto;
}

#date-picker > table > thead > tr:nth-child(1) {
  height: 40px;
}

#date-picker > table > thead > tr:nth-child(1) > th.switch.ng-binding {
  position: absolute;
  left: 0;
  width: 189px;
  top: 0;
  right: 0;
  margin: 0 auto;
  background-color: transparent;
}

#date-picker {
  position: relative;
  top: 205px;
  left: 0;
  right: 0;
  width: 375px;
  height: 315px !important;
  margin: auto;
  overflow: hidden;
  height: 322px;
}

.datetimepicker table tr td.active,
.datetimepicker table tr td.active.disabled,
.datetimepicker table tr td.active.disabled:hover,
.datetimepicker table tr td.active:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #08c, #04c);
  background-image: -ms-linear-gradient(top, #08c, #04c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
  background-image: -webkit-linear-gradient(top, #08c, #04c);
  background-image: -o-linear-gradient(top, #08c, #04c);
  background-image: linear-gradient(top, #08c, #04c);
  background-repeat: repeat-x;
  border-color: #04c #04c #002a80;
  border-color: white;
  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}

.datetimepicker table tr td.future,
.datetimepicker table tr td.past,
.datetimepicker table tr td.future:hover,
.datetimepicker table tr td.past:hover {
  color: #999;
  opacity: .8;
}

.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover.active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active:hover:active {
  background: transparent !important;
}

.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active.disabled,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled.disabled,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover,
.datetimepicker table tr td span.active.disabled:hover.active,
.datetimepicker table tr td span.active.disabled:hover.disabled,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.disabled:hover:hover,
.datetimepicker table tr td span.active.disabled:hover[disabled],
.datetimepicker table tr td span.active.disabled[disabled],
.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active:hover.disabled,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active:hover:hover,
.datetimepicker table tr td span.active:hover[disabled],
.datetimepicker table tr td span.active[disabled] {
  background: transparent !important;
}

.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
  border: none;
}

.datetimepicker tfoot tr:first-child th:hover,
.datetimepicker thead tr:first-child th:hover {
  background: transparent !important;
}

.datetimepicker tfoot tr:first-child th,
.datetimepicker thead tr:first-child th,
.datetimepicker thead tr:first-child th:hover {
  color: #7EB1DC;
  font-size: 18px;
  font-weight: 300;
}

.datetimepicker .table td,
.datetimepicker .table th {
  text-align: center;
  width: 14.6%;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, .7);
  color: rgba(255, 255, 255, .8);
}

.datetimepicker table tr td span:hover {
  color: #79DFB6;
  background: black;
}

.datetimepicker .table-striped>tbody>tr>td:hover {
  background-color: black;
}

#date-picker > table > thead > tr:nth-child(2) > th {
  color: #79DFB6;
}
