@font-face {
  font-family: 'brandon_grotesquethin';
  src: url('../assets/fonts/brandon_thin-webfont.eot');
  src: url('../assets/fonts/brandon_thin-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/brandon_thin-webfont.woff2') format('woff2'), url('../assets/fonts/brandon_thin-webfont.woff') format('woff'), url('../assets/fonts/brandon_thin-webfont.ttf') format('truetype'), url('../assets/fonts/brandon_thin-webfont.svg#brandon_grotesquethin') format('svg');
  font-weight: 300;
  font-style: normal;
}

html,
body {
  background: -webkit-linear-gradient(90deg, #517fa4 10%, #243949 90%);
  background: -moz-linear-gradient(90deg, #517fa4 10%, #243949 90%);
  background: -ms-linear-gradient(90deg, #517fa4 10%, #243949 90%);
  background: -o-linear-gradient(90deg, #517fa4 10%, #243949 90%);
  background: linear-gradient(90deg, #517fa4 10%, #243949 90%);
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  height: 100%;
}

dl,
ol,
ul {
  top: 0;
  display: inline-flex;
}

li {
  display: inline;
}

.global {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.global.set-width-320 {
  width: 100%;
  overflow: hidden !important;
}

.global.overflow-y {
  overflow-y: scroll;
  overflow-x: hidden;
}

div.body-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 2;
}

.btn-custom.disconnect,
.btn-custom.disconnect:active,
.btn-custom.disconnect:focus,
.btn-custom.disconnect:hover,
.btn-custom.record-session,
.btn-custom.record-session:active,
.btn-custom.record-session:focus,
.btn-custom.record-session:hover,
.btn-custom.share-file,
.btn-custom.share-file:active,
.btn-custom.share-file:focus,
.btn-custom.share-file:hover {
  position: relative;
  left: 0;
  right: 0;
  top: 11px;
  bottom: 0;
  width: 160px;
  height: 30px;
  border: 1px solid #efefef;
  border-radius: 12px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #7EB1DC;
  background: 0 0;
  font-size: 13px;
  font-weight: 400;
  padding-top: 5px;
  margin: auto;
  text-transform: capitalize;
}

#uploadForm > div {
  background-color: white !important;
  color: rgba(0, 0, 0, .7);
}

.upload-form {
  position: absolute;
  left: 0;
  right: 0;
  top: 277px;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.btn.btn-md.members {
  color: white;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .7);
  border-radius: 35px;
  position: relative;
  left: -16px;
  font-weight: 300;
  width: 120px;
  height: 35px;
  top: -3px;
}

button#connect.btn.btn-md.members {
  color: #efefef;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .7);
  border-radius: 35px;
  position: relative;
  left: -14px;
  font-weight: 300;
  width: 120px;
  height: 35px;
  padding-top: 4px;
}

button#details.btn.btn-md.members {
  color: #efefef;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .7);
  border-radius: 35px;
  position: relative;
  left: -14px;
  font-weight: 300;
  width: 120px;
  height: 35px;
  padding-top: 4px;
}

.btn.btn-md.status {
  color: white;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .7);
  border-radius: 35px;
}

.btn-custom-next,
.btn-custom-next:hover,
.btn-custom-next:active,
.btn-custom-next:focus {
  border: 1px solid #337ab7;
  background-color: white;
  width: 90px;
  font-weight: 300;
  text-decoration: none;
  top: 11px;
  height: 27px;
  border-radius: 9px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #337ab7;
  margin: auto;
  float: right;
  margin-top: 6px;
}

.btn-custom-cancel,
.btn-custom-cancel:hover,
.btn-custom-cancel:active,
.btn-custom-cancel:focus {
  border: 1px solid #337ab7;
  background-color: white;
  width: 90px;
  font-weight: 300;
  text-decoration: none;
  top: 11px;
  height: 27px;
  border-radius: 9px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #337ab7;
  margin: auto;
  float: left;
  margin-top: 6px;
}

.btn-custom-send,
.btn-custom-send:hover,
.btn-custom-send:active,
.btn-custom-send:focus {
  border: 1px solid #7EB1DC;
  width: 120px;
  font-weight: 700;
  top: 11px;
  height: 30px;
  border-radius: 9px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #7EB1DC;
  background: #fff;
  margin: auto;
  font-size: 14px;
}

.btn-custom-email,
.btn-custom-email:hover,
.btn-custom-email:active,
.btn-custom-email:focus {
  width: 250px;
  text-decoration: none;
  top: 28px;
  height: 38px;
  border-radius: 9px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #efefef;
  font-weight: 300;
  background-color: transparent;
  position: relative;
  margin: auto;
  border: 1px solid #efefef;
}

.btn-custom-facebook,
.btn-custom-facebook:active,
.btn-custom-facebook:focus,
.btn-custom-facebook:hover {
  position: relative;
  width: 250px;
  text-decoration: none;
  top: 11px;
  height: 38px;
  border-radius: 9px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #efefef;
  font-weight: 300;
  background-color: transparent;
  margin: auto;
  border: 1px solid #efefef;
}

.btn-custom-landing,
.btn-custom-landing:hover,
.btn-custom-landing:active,
.btn-custom-landing:focus {
  width: 100px;
  font-weight: 300;
  text-decoration: none;
  top: 11px;
  height: 30px;
  border-radius: 9px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #337ab7;
  background: #efefef;
  margin: auto;
}

.btn-custom-login,
.btn-custom-login:hover,
.btn-custom-login:active,
.btn-custom-login:focus {
  width: 100px;
  font-weight: 300;
  text-decoration: none;
  height: 30px;
  border-radius: 9px;
  text-align: center;
  cursor: pointer;
  color: #EFEFEF;
  border: 1px solid #EFEFEF;
  background: transparent none repeat scroll 0px 0px;
  margin: auto;
  position: relative;
  padding-top: 3px;
}

.btn-custom-back,
.btn-custom-back:hover,
.btn-custom-back:active,
.btn-custom-back:focus {
  width: 100px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 16px;
  height: 30px;
  border: 1px solid #EFEFEF;
  border-radius: 9px;
  text-align: center;
  padding-top: 4px;
  cursor: pointer;
  color: #EFEFEF;
  background-color: transparent;
  margin: auto;
}

.btn-custom.create-room-submit-btn,
.btn-custom.create-room-submit-btn:hover,
.btn-custom.create-room-submit-btn:active,
.btn-custom.create-room-submit-btn:focus {
  border: 1px solid #7EB1DC;
  width: 200px;
  position: relative;
  font-weight: 300;
  text-decoration: none;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, .9);
  top: 209px;
  margin: auto;
  left: 0;
  right: 0;
  background: 0 0;
  z-index: 5;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.btn-custom.create-room-now-btn,
.btn-custom.create-room-now-btn:hover,
.btn-custom.create-room-now-btn:active,
.btn-custom.create-room-now-btn:focus {
  border: 1px solid #7EB1DC;
  width: 200px;
  position: relative;
  font-weight: 300;
  text-decoration: none;
  padding: 9px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, .9);
  top: 165px;
  margin: auto;
  left: 0;
  right: 0;
  background: 0 0;
  z-index: 5;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  font-size: 12px;
  height: 39px;
}

.btn-custom.create-room-later-btn,
.btn-custom.create-room-later-btn:hover,
.btn-custom.create-room-later-btn:active,
.btn-custom.create-room-later-btn:focus {
  border: 1px solid #7EB1DC;
  width: 200px;
  position: relative;
  font-weight: 300;
  text-decoration: none;
  padding: 9px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, .9);
  top: 200px;
  margin: auto;
  left: 0;
  right: 0;
  background: 0 0;
  z-index: 5;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  font-size: 12px;
  height: 39px;
}

p.or-create-room {
  color: white;
  position: absolute;
  top: 210px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
}

.btn-custom.create-room-confirm-btn,
.btn-custom.create-room-confirm-btn:hover,
.btn-custom.create-room-confirm-btn:active,
.btn-custom.create-room-confirm-btn:focus {
  border: 1px solid #7EB1DC;
  width: 200px;
  position: relative;
  font-weight: 300;
  text-decoration: none;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, .9);
  top: 74px;
  margin: auto;
  left: 0;
  right: 0;
  background: 0 0;
  z-index: 5;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.btn-custom.create-a-broadcast,
.btn-custom.create-a-broadcast:hover,
.btn-custom.create-a-broadcast:active,
.btn-custom.create-a-broadcast:focus {
  border: 1px solid #7EB1DC;
  width: 200px;
  position: absolute;
  font-weight: 300;
  text-decoration: none;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, .9);
  top: 130px;
  margin: auto;
  left: 0;
  right: 0;
  background: transparent;
  padding-top: 4px;
  opacity: 0;
}

.btn-custom.create-a-room,
.btn-custom.create-a-room:hover,
.btn-custom.create-a-room:active,
.btn-custom.create-a-room:focus {
  border: 1px solid #7EB1DC;
  width: 120px;
  position: absolute;
  font-weight: 300;
  text-decoration: none;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, .9);
  top: 91px;
  margin: auto;
  left: 0;
  right: 0;
  background: 0 0;
  opacity: 0;
  font-size: 13px;
  padding-top: 4px;
}

.btn-custom,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
  border: 1px solid #337ab7;
  width: 120px;
  position: absolute;
  font-weight: 400;
  text-decoration: none;
  right: 150px;
  top: 12px;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #517fa4;
}

div.panel-body > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  font-weight: 300;
}

.btn-custom-nav.faq,
.btn-custom-nav.faq:hover,
.btn-custom-nav.faq:active,
.btn-custom-nav.faq:focus {
  border: 1px solid #337ab7;
  width: 120px;
  position: absolute;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  height: 26px;
  right: 130px;
  color: black;
  top: 11px;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #517fa4;
}

.btn-custom-nav.my-account,
.btn-custom-nav.my-account:hover,
.btn-custom-nav.my-account:active,
.btn-custom-nav.my-account:focus {
  border: 1px solid #337ab7;
  width: 120px;
  position: absolute;
  font-weight: 400;
  text-decoration: none;
  right: 80px;
  top: 12px;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #517fa4;
}

.add-cursor {
  cursor: pointer;
}

.side-bar {
  position: fixed;
  right: 0;
  background: green;
  height: 70%;
  width: 260px;
  text-align: center;
}

li {
  cursor: pointer;
}
