@font-face {
  font-family: 'brandon_grotesquethin';
  src: url('../assets/fonts/brandon_thin-webfont.eot');
  src: url('../assets/fonts/brandon_thin-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/brandon_thin-webfont.woff2') format('woff2'), url('../assets/fonts/brandon_thin-webfont.woff') format('woff'), url('../assets/fonts/brandon_thin-webfont.ttf') format('truetype'), url('../assets/fonts/brandon_thin-webfont.svg#brandon_grotesquethin') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background: -webkit-linear-gradient(90deg, #517fa4 10%, #243949 90%);
  background: -moz-linear-gradient(90deg, #517fa4 10%, #243949 90%);
  background: -ms-linear-gradient(90deg, #517fa4 10%, #243949 90%);
  background: -o-linear-gradient(90deg, #517fa4 10%, #243949 90%);
  background: linear-gradient(90deg, #517fa4 10%, #243949 90%);
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

dl,
ol,
ul {
  top: 0;
  display: inline-flex;
}

li {
  display: inline;
}

div.body-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 2;
}

#uploadForm > div {
  background-color: white !important;
  color: rgba(0, 0, 0, .7);
}

.upload-form {
  position: absolute;
  left: 0;
  right: 0;
  top: 277px;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
}

.custom-footer {
  margin-top: 10px !important;
}

.show-footer > div > ul > li > div {
  width: 800px;
}

.nav.navbar-nav.footer-custom {
  display: inline-flex;
  width: 800px;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.btn.btn-md.members {
  background: transparent;
  color: rgba(0, 0, 0, .6);
}

.btn-custom-next,
.btn-custom-next:hover,
.btn-custom-next:active,
.btn-custom-next:focus {
  border: 1px solid #337ab7;
  background-color: white;
  width: 90px;
  font-weight: 300;
  text-decoration: none;
  top: 11px;
  height: 27px;
  border-radius: 9px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #337ab7;
  margin: auto;
  float: right;
  margin-top: 6px;
}

.btn-custom-cancel,
.btn-custom-cancel:hover,
.btn-custom-cancel:active,
.btn-custom-cancel:focus {
  border: 1px solid #337ab7;
  background-color: white;
  width: 90px;
  font-weight: 300;
  text-decoration: none;
  top: 11px;
  height: 27px;
  border-radius: 9px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #337ab7;
  margin: auto;
  float: left;
  margin-top: 6px;
}

.btn-custom-send,
.btn-custom-send:hover,
.btn-custom-send:active,
.btn-custom-send:focus {
  border: 1px solid #337ab7;
  width: 120px;
  font-weight: 300;
  text-decoration: none;
  top: 11px;
  height: 30px;
  border-radius: 9px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #337ab7;
  background: #fff;
  margin: auto;
}

.btn-custom-email,
.btn-custom-email:hover,
.btn-custom-email:active,
.btn-custom-email:focus {
  width: 250px;
  text-decoration: none;
  top: 28px;
  height: 38px;
  border-radius: 9px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  /*color: #CDE3F5;*/
  
  color: #efefef;
  font-weight: 300;
  background-color: transparent;
  position: relative;
  margin: auto;
  border: 1px solid #efefef;
}

.btn-custom-facebook,
.btn-custom-facebook:active,
.btn-custom-facebook:focus,
.btn-custom-facebook:hover {
  position: relative;
  width: 250px;
  text-decoration: none;
  top: 11px;
  height: 38px;
  border-radius: 9px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #efefef;
  font-weight: 300;
  background-color: transparent;
  margin: auto;
  border: 1px solid #efefef;
}

.btn-custom-landing,
.btn-custom-landing:hover,
.btn-custom-landing:active,
.btn-custom-landing:focus {
  width: 100px;
  font-weight: 300;
  text-decoration: none;
  top: 11px;
  height: 30px;
  border-radius: 9px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #337ab7;
  background: #efefef;
  margin: auto;
}

.btn-custom-login,
.btn-custom-login:hover,
.btn-custom-login:active,
.btn-custom-login:focus {
  width: 100px;
  font-weight: 300;
  text-decoration: none;
  height: 30px;
  border-radius: 9px;
  text-align: center;
  cursor: pointer;
  color: #EFEFEF;
  border: 1px solid #EFEFEF;
  background: transparent none repeat scroll 0px 0px;
  margin: auto;
  position: relative;
  padding-top: 3px;
}

.btn-custom-back,
.btn-custom-back:hover,
.btn-custom-back:active,
.btn-custom-back:focus {
  width: 100px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 22px;
  height: 30px;
  border: 1px solid #EFEFEF;
  border-radius: 9px;
  text-align: center;
  padding-top: 4px;
  cursor: pointer;
  color: #EFEFEF;
  background-color: transparent;
  margin: auto;
}

.btn-custom.share-location,
.btn-custom.share-location:hover,
.btn-custom.share-location:active,
.btn-custom.share-location:focus {
  border: 1px solid #337ab7;
  width: 160px;
  position: relative;
  font-weight: 400;
  text-decoration: none;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  color: #517fa4;
  background: white;
  left: 0;
  right: 0;
  top: 9px;
  bottom: 0;
  margin: auto;
}

.btn-custom.share-file,
.btn-custom.share-file:hover,
.btn-custom.share-file:active,
.btn-custom.share-file:focus {
  position: relative;
  border: 1px solid #337ab7;
  width: 160px;
  font-weight: 400;
  text-decoration: none;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  color: #517fa4;
  background: #fff;
  left: 0;
  right: 0;
  top: 9px;
  bottom: 0;
  margin: auto;
}

.btn-custom.record-session,
.btn-custom.record-session:hover,
.btn-custom.record-session:active,
.btn-custom.record-session:focus {
  position: relative;
  border: 1px solid #337ab7;
  width: 160px;
  font-weight: 400;
  text-decoration: none;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  color: #517fa4;
  background: #fff;
  left: 0;
  right: 0;
  top: 9px;
  bottom: 0;
  margin: auto;
}

.btn-custom.disconnect,
.btn-custom.disconnect:hover,
.btn-custom.disconnect:active,
.btn-custom.disconnect:focus {
  position: relative;
  border: 1px solid #337ab7;
  width: 160px;
  font-weight: 400;
  text-decoration: none;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  color: #517fa4;
  background: #fff;
  left: 0;
  right: 0;
  top: 9px;
  bottom: 0;
  margin: auto;
}

.btn-custom.create-a-broadcast,
.btn-custom.create-a-broadcast:hover,
.btn-custom.create-a-broadcast:active,
.btn-custom.create-a-broadcast:focus {
  border: 1px solid #337ab7;
  width: 200px;
  position: absolute;
  font-weight: 400;
  text-decoration: none;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  color: #517fa4;
  top: 130px;
  margin: auto;
  left: 0;
  right: 0;
  background: white;
  z-index: 10;
  opacity: 0;
}

.btn-custom.create-a-room,
.btn-custom.create-a-room:hover,
.btn-custom.create-a-room:active,
.btn-custom.create-a-room:focus {
  border: 1px solid #337ab7;
  width: 120px;
  position: absolute;
  font-weight: 400;
  text-decoration: none;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  color: #517fa4;
  top: 91px;
  margin: auto;
  left: 0;
  right: 0;
  background: white;
  opacity: 0;
}

.btn-custom,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
  border: 1px solid #337ab7;
  width: 120px;
  position: absolute;
  font-weight: 400;
  text-decoration: none;
  right: 150px;
  top: 12px;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #517fa4;
}

div.panel-body > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  font-weight: 300;
}

.btn-custom-nav.faq,
.btn-custom-nav.faq:hover,
.btn-custom-nav.faq:active,
.btn-custom-nav.faq:focus {
  border: 1px solid #337ab7;
  width: 120px;
  position: absolute;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  height: 26px;
  right: 130px;
  color: black;
  top: 11px;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #517fa4;
}

.btn-custom-nav.my-account,
.btn-custom-nav.my-account:hover,
.btn-custom-nav.my-account:active,
.btn-custom-nav.my-account:focus {
  border: 1px solid #337ab7;
  width: 120px;
  position: absolute;
  font-weight: 400;
  text-decoration: none;
  right: 80px;
  top: 12px;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  color: #517fa4;
}

.add-cursor {
  cursor: pointer;
}

.side-bar {
  position: fixed;
  right: 0;
  background: green;
  height: 70%;
  width: 260px;
  text-align: center;
}

li {
  cursor: pointer;
}
