.username-line {
  width: 370px;
  height: 1px;
  background-color: rgba(255, 255, 255, .6);
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  top: 7px;
}

.complete-registration {
  font-size: 15px;
  font-weight: 300;
  color: rgba(255, 255, 255, .8);
  white-space: normal;
  position: relative;
  bottom: 0;
  top: 53px;
  text-align: center;
}

.on-file {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  white-space: normal;
  position: relative;
  bottom: 0;
  top: 33px;
  text-align: center;
}

.sent-off {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  white-space: normal;
  position: relative;
  bottom: 0;
  top: 32px;
  text-align: center;
}

.on-file > span {
  color: orange;
}

.registration-error {
  position: absolute;
  color: orange;
  left: 0;
  right: 0;
  bottom: 120px;
  text-align: center;
  font-size: 14px;
}

input#landing-input-username {
  background: transparent;
  border: 1px solid #337ab7;
  border-radius: 15px;
  width: 200px;
  padding-left: 13px;
}

.is-mobile {
  color: white;
  font-size: 16px;
  white-space: normal;
  text-align: center;
  position: relative;
  top: 40px;
  padding: 0 20px;
}

p.how-this-works-landing {
  position: relative;
  color: #FF9400;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  top: 99px;
  font-size: 26px;
  font-family: 'Bad Script', cursive;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  opacity: 0;
}

.container {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.reset-message {
  font-size: 14px;
  color: orange;
}

p.have-account {
  font-size: 14px;
  font-weight: 300;
  position: relative;
  top: 28px;
  line-height: 1.2;
  padding: 0 6px;
  cursor: pointer;
  color: rgba(255, 255, 255, .8);
}

#forgotPassword > input {
  width: 220px;
}

p.cancel-forgot-password {
  color: rgba(255, 255, 255, .8);
  font-size: 14px;
  font-weight: 300;
  top: 4px;
  position: relative;
  cursor: pointer;
}

#need-account,
#forgot-password {
  color: rgba(255, 255, 255, .8);
  font-size: 14px;
  font-weight: 300;
  position: relative;
  display: inline-block;
  top: 7px;
  opacity: 0;
  line-height: 1.2;
  padding: 0 6px;
  cursor: pointer;
}

#remember-me {
  color: rgba(255, 255, 255, .8);
  font-size: 14px;
  font-weight: 300;
  position: relative;
  display: inline-block;
  top: 7px;
  opacity: 0;
  line-height: 1.2;
  padding: 0 6px;
  cursor: default;
}

p.forgot-password-copy {
  color: rgba(255, 255, 255, .8);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

.login-subtext-container {
  width: 100%;
  height: 36px;
  position: relative;
  top: 5px;
}

.register-animation {
  position: relative;
  width: 500px;
  height: 40px;
  top: -10px;
  margin: auto;
}

.login-animation {
  position: relative;
  width: 500px;
  height: 40px;
  top: -10px;
  margin: auto;
}

p#register-copy {
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, .8);
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
}

p#login-copy {
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, .8);
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
}

p.landing-err-message {
  color: orange;
  position: relative;
  top: 22px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.register-btn-container {
  top: 40px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

form.register-form {
  display: block;
  padding-bottom: 10px;
  color: #fff;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 15px;
  width: 100%;
}

form.login-form {
  display: block;
  padding-bottom: 10px;
  color: #fff;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 15px;
  width: 100%;
}

.register-container {
  width: 100%;
  text-align: center;
  position: relative;
  margin: auto;
}

.login-container {
  width: 100%;
  text-align: center;
  position: relative;
  margin: auto;
}

.fa.fa-facebook {
  position: absolute;
  top: 7px;
  left: 12px;
  margin: auto;
  font-size: 19px;
}

.fa.fa-envelope {
  position: absolute;
  top: 7px;
  left: 12px;
  margin: auto;
  font-size: 19px;
}

.landing-container {
  min-width: 300px;
  position: relative;
  height: 500px;
  bottom: 140px;
}

p.auth-options-copy {
  color: white;
  position: absolute;
  top: 53px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.landing-line-auth {
  background-color: #efefef;
  width: 300px;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  bottom: 0;
  margin: auto;
}

.landing-btn-container {
  position: absolute;
  width: 100%;
  height: 107px;
  left: 0;
  right: 0;
  top: -20px;
  background-color: transparent;
  margin: auto;
}

.facebook-btn-container {
  position: absolute;
  width: 240px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: transparent;
}

form#loginForm {
  width: 500px;
  height: 44px;
  position: relative;
  margin: auto;
  padding-bottom: 59px;
}

.go-back-copy {
  padding-left: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .7);
}

span.add-line-opacity {
  opacity: 0.6;
}

.vertical-align-landing {
  margin-top: 20%;
}

a.logo-text,
a.logo-text:hover,
a.logo-text:focus,
a.logo-text:active {
  font-family: 'brandon_grotesquethin';
  font-size: 62px;
  color: white;
  opacity: 0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  top: 22px;
}

.landing-line {
  border-color: #d0314f;
  width: 680px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.landing-line-btm {
  border-color: #d0314f;
  width: 300px;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  top: 128px;
}

.slogan-text {
  font-family: 'brandon_grotesquethin';
  font-size: 36px;
  font-weight: 300;
  color: rgba(255, 255, 255, .8);
  position: relative;
  top: -15px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.landing-sub-text-container {
  position: relative;
  margin-top: 18px;
}

div.auth-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  top: 20px;
}

form input {
  background: 0 0;
  padding: 6px;
  border: 1px solid rgba(255, 255, 255, .7);
}

input.input-small[type=text],
input.input-small[type=password] {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

input.input-small[type=password] {
  margin-left: 5px;
}

input[type=checkbox],
input[type=radio] {
  margin: 4px 4px 0;
  line-height: normal;
}

.check-box-container {
  width: 100%;
  position: relative;
  top: 10px;
  bottom: 0;
  margin: auto;
  color: rgba(255, 255, 255, .7);
  font-weight: 300;
  font-size: 14px;
  height: 32px;
}

p.auth-sub-menu {
  font-size: 14px;
  text-align: center;
  color: #FFE0CE;
  font-weight: 400;
}

a#facebook {
  position: relative;
  top: 4px;
  padding-top: 8px;
}

a#email {
  position: relative;
  padding-top: 8px;
}

.or-copy {
  font-family: 'brandon_grotesquethin';
  font-size: 18px;
  position: absolute;
  top: 39px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #efefef;
  font-weight: 300;
}
