hr.chat-line {}

a.download-link {
  text-decoration: none;
  color: #337ab7;
  font-size: 13px;
  float: left;
  margin-top: -8px;
}

p.file-text {
  font-size: 13px;
  color: rgba(0, 0, 0, .7);
  text-align: left;
}

#layout-container {
  position: absolute;
  top: 85px;
  height: 80%;
  width: 70%;
  left: 10px;
  right: 200px;
  bottom: 0;
  background-color: #DDD;
}

#layout-container > div {
  background-color: #000;
  display: inline-block;
  border: 1px solid #fff;
}
