<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <base href="/"></base>
  <meta charset="utf-8">
  <meta author="Scott Jason">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Room Baby</title>
  <!-- Start Lib CSS Build -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/build/vendor.min.css">
  <link rel="stylesheet" href="/build/dev.min.css">
  <link rel="shortcut icon" href="https://raw.githubusercontent.com/scottjason/room-baby/master/client/assets/img/rb-favicon-64.png" />


  <!--[if lt IE 9]>
        <script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: '921064881267563',
      xfbml: true,
      version: 'v2.3'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
</head>

<body ng-app="RoomBaby">
  <div ng-include src="'views/includes/navbar.html'"></div>
  <div id="fb-root"></div>
  <div ui-view></div>
  <div ng-include src="'views/includes/footer.html'"></div>
  <!-- Grunt Build Vendor & Dev Scripts -->
  <script src="/build/vendor.min.js"></script>
  <script src="/scripts/lib/opentok-min.js"></script>
  <script src="/scripts/lib/opentok-layout.min.js"></script>
  <script src="/build/dev.min.js"></script>
</body>

</html>
