<!DOCTYPE html>
<html>

<head>
  <title>Reset Password</title>
  <link rel='stylesheet' type="text/css" href="/build/dev.min.css" />
</head>

<body>
  <p class="server-reset-pass first">Your Password has been successfully reset.</p>
  <div class="server-reset-pass-line"></div>
  <div class="server-reset-password-success-container">
    <p class="server-go-to">go to</p>
    <button id='server-room-baby' class="server-reset-pass-btn">Room Baby</button>
  </div>
</body>
<script>
document.getElementById('server-room-baby').addEventListener('click', function(event) {
  window.location.href = 'http://www.room-baby.com/';
});
</script>

</html>
