<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' type="text/css" href="/build/styles/build.css" />
</head>

<body>
    <h3>Reset your Room Baby Password Here</h3>
    <p>You will be redirected on success to the login page where you can now login with your new password.</p>
    <p>An additional email will be sent to confirm this change.</p>

    <form action="/user/reset-submit" method="post">
        <div class="form-group">
            <label>Enter New Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Reset Password</button>
    </form>
</body>

</html>