<div class="disabled-container" ng-show='isDisabled'>
  <div class="disabled-copy-container">
    <p>DISABLED</p>
  </div>
</div>
<div ng-show='showPermission' class='permission-overlay'>
  <p class='record-permission'> {{ requestingUser }} would like to record this session</p>
  <p class='is-ok'>Is this ok?</p>
  <div class='permission-btn-container'>
    <div ng-click='sessionCtrl.onPermissionResponse(true);' class='is-granted-btn'><p>OK</p></div>
    <div ng-click='sessionCtrl.onPermissionResponse(null);' class='is-denied-btn'><p>No Thanks</p></div>
  </div>
</div>

<div ng-init='sessionCtrl.isAuthenticated();'></div>
<div id="layout-container"></div>
<div class="span2 sidebar">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="portlet portlet-default">
          <div class="portlet-heading">
            <div class="portlet-title">
              <h4><i class="fa fa-circle text-green"></i> {{ user.username }}</h4>
            </div>
            <div class="portlet-widgets">
              <span class="divider"></span>
              <a data-toggle="collapse" data-parent="#accordion" href="#chat"><i class="fa fa-chevron-down"></i></a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div id="chat" class="panel-collapse collapse in">
            <div>
              <div id="transport-container" class="portlet-body chat-widget" style="overflow-y: auto; width: auto; height: 300px;">
                <div class="row">
                  <div class="col-lg-12">
                    <p class="text-center text-muted small">{{ sessionStart }}</p>
                  </div>
                </div>
                <div id='chatbox' class='chatbox'>
                </div>
              </div>
            </div>
            <div class="portlet-footer">
              <ng-enter>
                <form role="form">
                  <div class="form-group">
                    <textarea id='transport-input' ng-model='user.message' class="form-control" placeholder="Enter message..."></textarea>
                  </div>
                  <div class="form-group">
                    <div ng-click='sessionCtrl.sendMessage()' class="btn-custom-send pull-right">Send</div>
                    <div class="clearfix"></div>
                  </div>
                </form>
              </ng-enter>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
