<div class='work-body'>
<div class='work-container'>
  <p>Room Baby allows you to create shared rooms and broadcasts along with features like file-sharing and hi-def video recording.</p>
  <h3>What's a shared room?</h3>
  <p>A shared room is one where you another person can both hear and see each other (video chat). Once connected, you can also share files and record a high-def mp4 of the session. When the session is over, any recorded videos will be available in your dashboard under status: 'archived.'</p>
  <p> To create a room, simply login and select, 'create a room'. You'll have the option to create one that you and your guest can connect to now as well as the option to schedule a room for later. In either case, the room you create will be in your dashboard and your guest will be notifed immediately via email.
  </p>
  <h3>What's a broadcast?</h3>
  
  <p>A broadcast is a live audio/video stream of one person. Other people can view the broadcast, but they don't actually join the room as they would in a shared room (sorta like watching tv).</p>
  
  <p>To create a broadcast, just login and click 'create a broadcast'. This open a new window Room Baby's broadcast interface. If you've logged in through facebook, you can post a link to this broadcast directly to your facebook wall. Your friends can click the link and watch your broadcast live. In the case that you don't wish to share your broadcast on facebook, there's also a 'copy link' button. Share the link with anyone you like and they'll be directed to your broadcast.</p>
</div>
</div>
